.DS_Store

/git-modules

/ide/IDEA-OTCdLink/.idea/out
/ide/IDEA-OTCdLink/.idea/libraries
/ide/IDEA-OTCdLink/.idea/workspace.xml
/ide/IDEA-OTCdLink/.idea/modules.xml
/ide/IDEA-OTCdLink/modules
/ide/IDEA-OTCdLink/.idea/.name
/ide/IDEA-OTCdLink/.idea/misc.xml
/ide/IDEA-OTCdLink/out
/ide/IDEA-OTCdLink/Python*
!/ide/IDEA-OTCdLink/.idea/runConfigurations

*.log
_*
.*
*.xml~
.~*

target
target/checkout
test-scratch

/Photographer
/log
/run
proguard*
$temporary$
.temporary
.project
.classpath
.settings
pom.xml.versionsBackup
pom.xml.releaseBackup
dependency-reduced-pom.xml
/release.properties
mockup/Presentation/*.pdf
repackage-dependencies/simple
literacy
*.intraday
*.intraday-recovered
*.intraday-replica
*.outerday
otcdlink.*.intraday*
other
/jre-archives
/forensics*
/viz.js
!.gitignore
THIRD-PARTY.properties
*.retry
